@{
    Layout = null;
}

@model IEnumerable<PetSitting.Model.SessionsEntity>

@{ if (Model.Count() == 0)
    {
        <b>No Sessions</b>
    }
    else
    {

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SitterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>
    @{ var i = 1; }
    @foreach (var item in Model)
    {
        <tr style='background-color: @(i % 2 == 0 ? "#D9E6C4" : "#ffffff" );'>
            <td>
                @Html.DisplayFor(modelItem => item.SitterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>@{ if (item.Status == "Requested")
                {
                    @Html.ActionLink("Delete", "../Sessions/Delete", new { id = item.SessionID })
                }
            }</td>
        </tr>
        <!--@(i++)-->
                }
</table>
                    }
                }