@{
    Layout = null;
}

@model IEnumerable<PetSitting.Model.SessionsEntity>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OwnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
        @{ var i = 1; }

        @foreach (var item in Model)
        {
            <tr style='background-color: @(i % 2 == 0 ? "#D9E6C4" : "#ffffff" );'>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PetName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>@Html.ActionLink("Edit", "../Sessions/Edit", new { id = item.SessionID })</td>
            </tr>
            <!--@(i++);-->
            
        }
    </table>