@model PetSitting.Model.SittersEntity

@{
    ViewBag.Title = "Details";
}

<div class="panel"><div class="panel-heading"><h3>Sitter Details</h3></div>

                   <div class="panel-body">
                       <div class="lead">@Html.DisplayFor(model => model.Name)</div>
                       <hr />
                       <p>
                           @if ((string)Session["AUTHRole"] == "Sitter")
                           {
                               @Html.ActionLink("Edit Info", "Edit", new { id = Model.SitterID })
                           }
                           @{ var sessionrole = Session["AUTHRole"] as string;
                               if (sessionrole == "Admin")
                               {
                                   <text> | </text>@Html.ActionLink("Back to List", "ListAll")
                               }

                           }

                       </p>
                       <div style="width: 30%">
                           <b>@Html.DisplayNameFor(model => model.Bio) :</b><br />
                           @Html.DisplayFor(model => model.Bio)

                       </div>

                       <div class="alert-success" style="width: 65%;">

                           <dl class="dl-horizontal">


                               <dt>
                                   @Html.DisplayNameFor(model => model.Fee)
                               </dt>

                               <dd>
                                   @Html.DisplayFor(model => model.Fee)
                               </dd>

                               <dt>
                                   @Html.DisplayNameFor(model => model.Age)
                               </dt>

                               <dd>
                                   @Html.DisplayFor(model => model.Age)
                               </dd>

                               <dt>
                                   @Html.DisplayNameFor(model => model.HiringDate)
                               </dt>

                               <dd>
                                   @Html.DisplayFor(model => model.HiringDate)
                               </dd>
                               <dt>
                                   @Html.DisplayNameFor(model => model.TotalSales)
                               </dt>

                               <dd>
                                   @Html.DisplayFor(model => model.TotalSales)
                               </dd>

                               <dt>
                                   @Html.DisplayNameFor(model => model.GrossSalary)
                               </dt>

                               <dd>
                                   @Html.DisplayFor(model => model.GrossSalary)
                               </dd>

                               <dt>
                                   @Html.DisplayNameFor(model => model.NetSalary)
                               </dt>

                               <dd>
                                   @Html.DisplayFor(model => model.NetSalary)
                               </dd>
                               <dd>
                                   <br /><br />
                                   @if ((string)Session["AUTHRole"] == "Sitter")
                                   {
                                       @Html.DisplayFor(model => model.Sessions, "SessionsBySitter")
                                   }

                               </dd>
                           </dl>
                       </div>

                       <p>Record last modified: @Html.DisplayFor(model => model.ModifiedDate)</p>

                   </div>
</div>