@model PetSitting.Model.SittersEntity

@{
    ViewBag.Title = "Details";
}

<div class="panel"><div class="panel-heading"><h3>Sitter Details</h3></div>

<div class="panel-body">
            <div class="lead">@Html.DisplayFor(model => model.Name)</div>
    <hr />
    <div style="width: 30%">
            <b>@Html.DisplayNameFor(model => model.Bio) :</b><br />
            @Html.DisplayFor(model => model.Bio)
        
    </div>
<div class="alert-success" style="width: 65%;">
    
    <dl class="dl-horizontal">
       
        
        <dt>
            @Html.DisplayNameFor(model => model.Fee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HiringDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HiringDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrossSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrossSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetSalary)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SitterID }) |
    @{  var sessionrole = Session["AUTHRole"] as string;
        if (sessionrole == "Admin")
        {
          @Html.ActionLink("Back to List", "ListAll")
        }
        
    }

</p>
    <p>Record last modified: @Html.DisplayFor(model => model.ModifiedDate)</p>
     
</div>
</div>