@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Calvin's Pet Sitting</h1>
    <p class="lead">
        Keeping your pets happy while you take care of important things is what we strive at doing. We know how much your
        fur babies mean to you. Don't worry, let our caring professionals keep them company when you can't be
        in two places at once.
    </p>
    <p>
        @Html.ActionLink("Sign In", "Login", "Home", null, new { @class = "btn btn-success btn-lg" })
    </p>
    <p>
        <B>@ViewBag.Role</B><br />
        @{ if ((string)Session["AUTHRole"] == null)
            {
                @Html.ActionLink("Register »", "Register", "Users", null, new { @class = "btn-link btn-sm" })
            }
         }

    </p>
</div>

<div class="row">
    <div class="col-md-4"><div class="panel">
        <div class="panel-heading bg-success">Getting started</div>
        <div class="panel-body"><p>
    If you haven't registered yet, please hurry and
    @Html.ActionLink("click here..", "Register", "Users", null, new { @class = "btn-link btn-sm" })
    We offer great rates and great service specifically catered to your pet.
    If you have already registered and you want to go ahead and request a session, click the button below
    to get started!
    <br /><br />
    @{ if ((string)Session["AUTHRole"] == "Owner")
        {
            @Html.ActionLink("Book Now »", "Details", "Owners", new { @id = (int?)Session["AUTHOwnerID"] }, htmlAttributes: new { @class = "btn btn-success btn-sm" })
        } else if ((string)Session["AUTHRole"] == "Admin" || (string)Session["AUTHRole"] == null)
        {
            @Html.ActionLink("Register »","Register","Users", null, htmlAttributes: new { @class = "btn btn-success btn-sm" })
        }
    }
</p>
        </div>
        </div>
    </div>
    <div class="col-md-4"><div class="panel">
        <div class="panel-heading bg-success">Testimonials</div>
        <div class="panel-body">
            <p>
                "One time I had to leave my baby home alone and she got into everything.
                Tore up toilet paper and had it stretched all around the house.
                The next time I contacted Calvin's Pet Sitting and they quickly scheduled with me.
                
                I couldn't wait to learn how well my baby behaved.
                Not only was my baby happy, Calvin' pet sitter had pictures and videos to show me
                all the things they did while I was busy elsewhere. I am so happy I contacted them.
                And I plan to use Calvin's Pet Sitting every time I need to be away. Thank you Calvin's Pet Sitting."

                <br /><br />
                Sincerely,<br />
                Margaret Stewart.
            </p>
            <p>@Html.ActionLink("Learn more »", "About", "Home", null, new { @class = "btn btn-success btn-sm" })</p>
        </div>
    </div></div>
    
</div>