@model PetSitting.Model.OwnersEntity

@{
    ViewBag.Title = "Details";
}

<div class="panel">
    <div class="panel-heading"><h3>Owner Details</h3></div>
    <div class="panel-body">
        <div>
            @Html.ActionLink("Edit", "Edit", new { id = Model.OwnerID })

            <dl class="dl-horizontal">


                <dd class="lead">
                    @Html.DisplayFor(model => model.OwnerName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Age)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Age)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.PetName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PetName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PetAge)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PetAge)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PetYears)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PetYears)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ContactPhone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ContactPhone)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Username)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Username)
                </dd>
                <dd>
                    <br /><br />
                    @{ if ((string)Session["AUTHRole"] != "Admin")
                        {
                            @Html.ActionLink("Request Session", "SelectSitter", "Sitters")
                        }

                    }

                    <br /></br>
                    @Html.DisplayFor(model => model.Sessions, "SessionsByOwner")
                </dd>
            </dl>
        </div>
        <p>
            @{ if ((string)Session["AUTHRole"] == "Admin")
                {
                    <b>|</b>
                    @Html.ActionLink("Back to List", "ListAll");
                }
            }
        </p>
        <p>Record last modified: @Html.DisplayFor(model => model.ModifiedDate)</p>
    </div>
</div>