<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Calvin's Pet Sitting</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @{ var sessionrole = Session["AUTHRole"] as string;
                        var sessionuserid = Session["AUTHUserID"] as int?;
                        if (sessionrole == "Owner")
                        {
                            <li>@Html.ActionLink("Owner Details", "Details", "Owners", new { @id = (int)Session["AUTHOwnerID"] }, null)</li>
                        }
                        else if (sessionrole == "Sitter")
                        {
                            <li>@Html.ActionLink("Sitter Details", "Details", "Sitters", new { @id = (int)Session["AUTHSitterID"] }, null)</li>
                        }
                        else if (sessionrole == "Admin")
                        {
                            <li>@Html.ActionLink("Owners", "ListAll", "Owners")</li>
                            <li>@Html.ActionLink("Sitters", "ListAll", "Sitters")</li>
                            <li>@Html.ActionLink("Users", "ListAll", "Users")</li>
                            <li>@Html.ActionLink("Sessions", "ListAll", "Sessions")</li>
                        }
                        if (sessionrole != null)
                        {
                            <li class="right">@Html.ActionLink("Log out", "Logout", "Home")</li>
                        }
                    }


                </ul>
            </div>
        </div>
    </div> 
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Calvin's Pet Sitting</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
